/* DEFINIÇÃO DA MAIN, E VARIÁVEIS DE ESTILO ESSENCIAIS */
main {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    background: linear-gradient(135deg,
            #F7F5EF 0%,
            #E8DFC9 30%,
            #BFCFAE 65%,
            #D6B97B 100%);
}

:root {
    /* Definindo altura das seções */
    --hero-height: 100vh;
    --beneficios-height: 100vh;
    --sobre-height: 100vh;
    --depoimentos-height: 100vh;
}

/* ESTILIZAÇÃO DA HERO E SEUS ELEMENTOS */
#hero {
    display: grid;
    height: var(--hero-height);
    grid-column: 2;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(15, auto);
}

#hero article {
    grid-template-columns: 1;
    grid-template-rows: 1;
    grid-column: 2;
    grid-row: 8;
}

#hero form {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 3fr 1fr;
    grid-column: 2;
    grid-row: 9;
}

#hero form * {
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 1.2em;
}

#hero article h1 {
    font-size: 5em;
}

#hero article p {
    font-size: 1.7em;
}
#hero a {
    display: grid;
    grid-column: span 3;
    grid-row: 14;
    border: none;
    justify-items: center;
    background-color: transparent;
}
#hero a img {
    height: 100%;
}
/* ESTILIZAÇÃO DOS BENEFÍCIOS E SEUS ELEMENTOS */
#beneficios {
    display: grid;
    grid-column: 2;
    width: 100%;
    place-items: center;
    place-items: center;
    height: var(--beneficios-height);
}

#beneficios h2 {
    font-size: 5em;
    text-align: center;
    /* background-color: #D6B97B; */
}

#beneficios div {
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    /* background-color: #74974e; */
    gap: 40px;
}

#beneficios div article {
    text-align: center;
    background-color: #F5F1E8;
    border-radius: 22px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 230px auto auto;
    max-width: 410px;
}

#beneficios div article h3 {
    margin: 10px;
    font-size: 1.7em;
}

#beneficios div article p {
    margin: 10px;
    font-size: 1.2em;
}

#beneficios div article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* ESTILIZAÇÃO DA SEÇÃO SOBRE E SEUS ELEMENTOS */
#sobre {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    height: var(--sobre-height);
}

#sobre h2 {
    grid-column: span 3;
    grid-row: 1;
    text-align: center;
    font-size: 5em;
}

#sobre div {
    width: 100%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(6, 1fr);
}

#sobre div article {
    padding-left: 10px;
    border-left: 20px solid black;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#sobre div article p {
    margin: 0;
    text-align: start;
    margin-bottom: 5px;
    font-size: 1.5em;
}

#sobre div article h3 {
    font-size: 2.5em;
    margin: 0;
    text-align: start;
    margin-bottom: 5px;
}

/* ESTILIZAÇÃO DEPOIMENTOS E SEUS ELEMENTOS */
#depoimentos {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: var(--depoimentos-height)
}

#depoimentos h2 {
    display: grid;
    font-size: 5em;
    grid-row: 1;
    text-align: center;
    align-items: center;
}

#depoimentos div {
    grid-row: 2;
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    gap: 20px;
}

#depoimentos div article {
    background-color: #F5F1E8;
    padding: 20px;
    border-radius: 10px;
    border-top-left-radius: 55px;
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 70px 150px 500px 50px;
}

#depoimentos div article span {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    justify-items: center;
    font-size: 1.5em;
}

.foto_perfil {
    height: 70px;
    width: 70px;
    grid-row: 1;
    grid-column: 1;
    object-fit: cover;
    border-radius: 50%;
}

.fotos {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    grid-row: 3;
    height: 500px;
    grid-column: span 2;
}

.comment {
    grid-column: span 2;
    grid-row: 2;
    color: #74974e;
    text-align: center;
    font-size: 1.5em;
}

.author {
    color: #D6B97B;
    grid-column: 2;
    grid-row: 4;
    text-align: end;
    font-size: 1.2em;
}

/* Testando Media Queries */

/* Breakpoint - TABLET */
@media (max-width: 1150px) {
    main{
        font-size: 14px;
    }
    /* Beneficios */
    #beneficios div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    /* Sobre */
    #sobre {
        height: auto;
    }
    /* Depoimentos */
    #depoimentos {
        height: auto;
    }
    #depoimentos div {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
    }
}

/* Breakpoint - SMARTPHONE */
@media (max-width: 768px) {
    main{
        font-size: 12px;
    }
    #hero article {
        grid-column: span 3;
    }

    #hero form {
        display: grid;
        grid-column: span 3;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    #hero form * {
        height: 55px;
    }

    /* Beneficios */
    #beneficios div {
        grid-template-columns: repeat(1, 1fr);
    }
    #beneficios {
        height: auto;
    }
}